<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>
    <!-- Begin index.html -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 app">
                    <div class="input-group input-group-lg todo-input-box">
                        <input type="text" class="form-control new-todo-input js-new-todo-input" placeholder="What needs to get done?"/>
                        <span class="input-group-btn"><button class="btn btn-default add-button js-add-todo" type="button">Carpe</button></span>
                    </div>  
                    <div class="todo-items">
                        <!-- Template will appear here -->
                    </div>  
                </div>
            </div>
        </div>
        <!-- Template here -->
        <script type="text/template" class="todo-template">
            <div class="todo-item" id="<%= id %>">
                <button type="button" class="btn btn-default btn-lg edit-button pull-left js-edit-button" style="padding-left: 4px; padding-right: 4px;">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-lg done-button js-done-button pull-left" style="padding-left: 4px; padding-right: 4px;"> 
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <div class="todo-description"><%= description %> <br><span>(Id: <%= id %>)<span></div>
                <button type="button" class="btn btn-default btn-lg remove-button js-remove-button pull-right" style="padding-left: 4px; padding-right: 4px;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </script>
        <!-- End Template -->



<!-- End index.html -->

    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="bower_components/chai/chai.js"></script>
    <script>
        var assert = chai.assert;
        var expect = chai.expect;
        var should = chai.should();
    </script>

    <!-- include source files here... -->
    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="bower_components/jquery/jquery.js"></script>  
    <script src="bower_components/underscore/underscore.js"></script>  
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>mocha.run()</script>
</body>
</html>
